.nav-item a {
    color: #C69C6D;
    text-decoration: none;
}

.navbar{
    background-color: #F4EBD7;
}


.intro1{
    display: flex;
}

.introTxt{
    background-color: #DDD6C5;
    text-align: left;
    direction: ltr;
    padding: 40px;
}

main p {
    font-size: larger;
    font-weight: 450;
}

section {
    padding-top: 4rem;
    width: 100%;
}

.custom-color {
    color: #c69c6d; 
  }

.custom-bg{
    background-color: #DDD6C5;
}

.intro2{
    background-image: url(/asset/photos/introPic2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 40rem;
    
}

footer{
    background-color: #F4EBD7;
    padding: 3rem;
}


.recipe{
    width: 100%;
}

@media  screen and (max-width: 992px) {
    
    
}